*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bz-app-principal);
    overflow: hidden; 
}

:root {
    --bz-app-principal: #DBDBD2;
    --bz-app-header: #009688;
    --bz-app-success: #D5F9BA;
    --bz-app-light: #E9EBEB;
    --bz-app-white: #FFFFFF;
    --bz-app-focus: #8EDAFC;
}

img {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin-right: 1rem;
}

.header_icons {
    display: flex;
    justify-content: space-around;
}

.header_icons > div > i {
    color: lightslategray;
}

i {
    margin: 0.5rem;
}

.avatar_img_text {
    display: flex;
    align-items: center;
}

.avatar_text > h6 {
    color: lightslategray;
}

.sidebar_chat_row {
    height: auto;
    margin-top: -6rem;
    
}

/* End utilitis */

header > div {
    background-color: var(--bz-app-header);
    height: 150px;
}
/* End header */

.sidebar {
    border-right: 1px solid rgb(178, 175, 175);
    height: 450px;
}
.sidebar_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bz-app-light);
}
/* End sidebar header */

.sidebar_body {
    background-color: var(--bz-app-white);
}

.sidebar_body_contacts {
    height: 400px;
    overflow-y: scroll;
}

.notifiche {
    background-color: var(--bz-app-focus);
    display: flex;
    align-items: center;
}

.notifiche_icon {
    background-color: white;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 1rem;
}

.notifiche_icon > i {
    color: var(--bz-app-focus);
}

.notifiche_text > h6 {
    margin-bottom: -0.2rem;
}

.notifiche_text > a {
    color: lightslategray;
}

.user_time {
    position: relative;
    right: 0;
}

.sidebar_body_interlocutor {
    display: flex;
    justify-content: space-between;
}

.sidebar_body_img_text {
    display: flex;
}

.sidebar_body_time > p {
    color: lightslategray;
    font-size: 12px;
}
/*  */
/* End sidebar body */
/*  */
.chat_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 71px;
    
}

.avatar_header {
    display: flex;
}

.chat_header, .chat_text_area {
    background-color: var(--bz-app-light);
    
}

/* End chat header */
/*  */
/*  User Chat send */

.user_text_1, .user_text_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bz-app-success);
    border-radius: 5px;
    margin-top: 0.5rem;
    padding: 0.2rem;
}

.user_right_send  p {
     color: lightslategray;
     margin-bottom: -0.5rem;
     font-size: 12px;
} 

/* User Chat */
/* Interlocutor Chat recive */

.interlocutor_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bz-app-white);
    border-radius: 5px;
    margin-top: 0.5rem;
    padding: 0.2rem;
    
}

.interlocutor_left_recive  p {
    color: lightslategray;
    margin-bottom: -0.5rem;
    font-size: 12px;
} 

/* Interlocutor Chat */
.chat_body {  
    background-image: url(../img/mine.jpg);
    background-repeat: repeat;
    height: 100%;
    overflow-y: scroll;
}

.selected {
    background-color: var(--bz-app-light);
}

/* End chat body */

.chat_text_area {
    display: flex;
    align-items: center;
}

/* End chat text area */

