*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bz-app-principal);
    
}

:root {
    --bz-app-principal: #DBDBD2;
    --bz-app-header: #009688;
    --bz-app-success: #D5F9BA;
    --bz-app-light: #E9EBEB;
    --bz-app-white: #FFFFFF;
    --bz-app-focus: #8EDAFC;
}

img {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin-right: 1rem;
}

.sidebar_row {
    margin-top: -6rem;
}

.header_icons {
    display: flex;
    justify-content: space-around;
}

.header_icons > div > i {
    color: lightslategray;
}

i {
    margin: 0.5rem;
}

.avatar_img_text {
    display: flex;
    align-items: center;
}

.avatar_text > h6 {
    color: lightslategray;
}

/* End utilitis */

header > div {
    background-color: var(--bz-app-header);
    height: 150px;
}
/* End header */

.sidebar {
    border-right: 1px solid rgb(178, 175, 175);
}
.sidebar_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background-color: var(--bz-app-light);
}
/* End sidebar header */
.sidebar_body {
    background-color: var(--bz-app-white);
}

/* End sidebar body */

.chat_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar_header {
    display: flex;
}

.chat_header, .chat_text_area {
    height: 75px;
    background-color: var(--bz-app-light);
}

/* End chat header */

.chat_body {  
    background-image: url(../img/mine.jpg);
    background-repeat: repeat;
    height: 500px;
}

.notifiche {
    background-color: var(--bz-app-focus);
    display: flex;
    align-items: center;
}

.notifiche_icon {
    background-color: white;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 1rem;
}

.notifiche_icon > i {
    color: var(--bz-app-focus);
}

.notifiche_text > h6 {
    margin-bottom: -0.2rem;
}

.notifiche_text > a {
    color: lightslategray;
}

.user_time {
    position: relative;
    right: 0;

}

.sidebar_body_interlocutor {
    display: flex;
    justify-content: space-between;
}

.sidebar_body_img_text {
    display: flex;
}




/* End chat body */

