*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bz-app-light);
}

:root {
    --bz-app-principal: #DBDBD2;
    --bz-app-header: #009688;
    --bz-app-success: #D5F9BA;
    --bz-app-light: #E9EBEB;
    --bz-app-white: #FFFFFF;
    --bz-app-focus: #8EDAFC;
}

/* Utilitis */

header > div {
    background-color: var(--bz-app-header);
    height: 150px;
}

main {
    display: flex;
}

.sidebar {
    
    background-color: blue;
    width: 100px;
    height: 100px;
}

.chat {
    
    background-color: red;
    width: 100px;
    height: 100px;
}